Importing the Dependencies

In [1]:
!pip install numpy

Collecting numpy
  Downloading numpy-1.21.6-cp37-cp37m-win_amd64.whl (14.0 MB)
     -------------------------------------- 14.0/14.0 MB 967.8 kB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-1.21.6

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-win_amd64.whl (10.0 MB)
     ---------------------------------------- 10.0/10.0 MB 1.0 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hp\anaconda3\envs\new\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2017.3
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     -------------------------------------- 502.3/502.3 kB 1.6 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\anaconda3\envs\new\lib\site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\envs\new\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.5 pytz-2023.3

In [3]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.0.2-cp37-cp37m-win_amd64.whl (7.1 MB)
     ---------------------------------------- 7.1/7.1 MB 1.1 MB/s eta 0:00:00
Collecting joblib>=0.11
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     -------------------------------------- 298.0/298.0 kB 1.7 MB/s eta 0:00:00
Collecting scipy>=1.1.0
  Downloading scipy-1.7.3-cp37-cp37m-win_amd64.whl (34.1 MB)
     -------------------------------------- 34.1/34.1 MB 941.3 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14.6 in c:\users\hp\anaconda3\envs\new\lib\site-packages (from scikit-learn) (1.21.6)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.0.2 scipy-1.7.3 threadpoolctl-3.1.0

In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection and Analysis

PIMA Diabetes Dataset

In [28]:

diabetes_dataset = pd.read_csv('diabetes_prediction_dataset.csv')

In [29]:

diabetes_dataset.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [30]:

diabetes_dataset.shape

(100000, 9)

In [31]:

diabetes_dataset.describe()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,41.885856,0.07485,0.039420,27.320767,5.527507,138.058060,0.085000
std,22.516840,0.26315,0.194593,6.636783,1.070672,40.708136,0.278883
min,0.080000,0.00000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,24.000000,0.00000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,43.000000,0.00000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,60.000000,0.00000,0.000000,29.580000,6.200000,159.000000,0.000000
max,80.000000,1.00000,1.000000,95.690000,9.000000,300.000000,1.000000

In [32]:
diabetes_dataset['diabetes'].value_counts()

0    91500
1     8500
Name: diabetes, dtype: int64

0 --> Non-Diabetic

1 --> Diabetic

In [33]:
diabetes_dataset.groupby('diabetes').mean()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level
diabetes,,,,,,
0,40.115187,0.058984,0.029235,26.887163,5.396761,132.852470
1,60.946588,0.245647,0.149059,31.988382,6.934953,194.094706

In [36]:
from sklearn.preprocessing import LabelEncoder

diabetes_dataset[["gender", "smoking_history"]] = diabetes_dataset[["gender", "smoking_history"]].apply(LabelEncoder().fit_transform)

In [37]:
diabetes_dataset.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,4,25.19,6.6,140,0
1,0,54.0,0,0,0,27.32,6.6,80,0
2,1,28.0,0,0,4,27.32,5.7,158,0
3,0,36.0,0,0,1,23.45,5.0,155,0
4,1,76.0,1,1,1,20.14,4.8,155,0

In [38]:
diabetes_dataset.head(15)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,4,25.19,6.6,140,0
1,0,54.0,0,0,0,27.32,6.6,80,0
2,1,28.0,0,0,4,27.32,5.7,158,0
3,0,36.0,0,0,1,23.45,5.0,155,0
4,1,76.0,1,1,1,20.14,4.8,155,0
5,0,20.0,0,0,4,27.32,6.6,85,0
6,0,44.0,0,0,4,19.31,6.5,200,1
7,0,79.0,0,0,0,23.86,5.7,85,0
8,1,42.0,0,0,4,33.64,4.8,145,0
9,0,32.0,0,0,4,27.32,5.0,100,0
10,0,53.0,0,0,4,27.32,6.1,85,0
11,0,54.0,0,0,3,54.70,6.0,100,0
12,0,78.0,0,0,3,36.05,5.0,130,0
13,0,67.0,0,0,4,25.69,5.8,200,0
14,0,76.0,0,0,0,27.32,5.0,160,0

In [39]:

X = diabetes_dataset.drop(columns = 'diabetes', axis=1)
Y = diabetes_dataset['diabetes']

In [40]:
print(X)

       gender   age  hypertension  heart_disease  smoking_history    bmi  \
0           0  80.0             0              1                4  25.19
1           0  54.0             0              0                0  27.32
2           1  28.0             0              0                4  27.32
3           0  36.0             0              0                1  23.45
4           1  76.0             1              1                1  20.14
...       ...   ...           ...            ...              ...    ...
99995       0  80.0             0              0                0  27.32
99996       0   2.0             0              0                0  17.37
99997       1  66.0             0              0                3  27.83
99998       0  24.0             0              0                4  35.42
99999       0  57.0             0              0                1  22.43

       HbA1c_level  blood_glucose_level
0              6.6                  140
1              6.6                   80
2              5.7                  158
3              5.0                  155
4              4.8                  155
...            ...                  ...
99995          6.2                   90
99996          6.5                  100
99997          5.7                  155
99998          4.0                  100
99999          6.6                   90

[100000 rows x 8 columns]

In [41]:
print(Y)

0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Name: diabetes, Length: 100000, dtype: int64

Train Test Split

In [42]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [43]:
print(X.shape, X_train.shape, X_test.shape)

(100000, 8) (80000, 8) (20000, 8)

Training the Model

In [44]:
classifier = svm.SVC(kernel='linear')

In [45]:

classifier.fit(X_train, Y_train)

SVC(kernel='linear')

Model Evaluation

Accuracy Score

In [46]:

X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [47]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.9598

In [48]:

X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [49]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.9607

Making a Predictive System

In [51]:
#gender	age	hypertension	heart_disease	smoking_history	bmi	HbA1c_level	blood_glucose_level

input_data = (0,32,0,0,4,27.32,5,100)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

[0]
The person is not diabetic

C:\Users\HP\anaconda3\envs\new\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

In [52]:
#gender	age	hypertension	heart_disease	smoking_history	bmi	HbA1c_level	blood_glucose_level

input_data = (1,32,0,0,4,27.32,5,100)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

[0]
The person is not diabetic

C:\Users\HP\anaconda3\envs\new\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

Saving the trained model

In [53]:
import pickle

In [54]:
filename = 'diabetes_model.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [4]:
# loading the saved model
import pickle
import numpy as np
loaded_model = pickle.load(open('diabetes_model.sav', 'rb'))

In [7]:
#gender	age	hypertension	heart_disease	smoking_history	bmi	HbA1c_level	blood_glucose_level
#Female=0 ; Male=1
#Never =4 ; noinfo=0; current=1; former=3; ever=2

input_data = (1,32,0,0,4,27.32,5,100)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = loaded_model.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

[0]
The person is not diabetic

C:\Users\HP\anaconda3\envs\new\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

In [57]:
for column in X.columns:
  print(column)

gender
age
hypertension
heart_disease
smoking_history
bmi
HbA1c_level
blood_glucose_level